
<form class="ui form">

    <h4 class="ui dividing header">Get </h4>
    
    <div class="field">
        <label>Type</label>
        <select class="ui fluid search dropdown" [(ngModel)]="this.type" name="Coupon[Type]">
            <option value="SPORTS">SPORTS</option>
            <option value="FOOD">FOOD</option>
            <option value="HEALTH">HEALTH</option>
            <option value="RESTURANS">RESTURANS</option>
            <option value="ELECTRICTY">ELECTRICTY</option>
            <option value="CAMPING">CAMPING</option>
            <option value="TRAVELLING">TRAVELLING</option>
    
        </select>
    </div>
    <div class="ui button" tabindex="0" (click)="getAll($event)">GET</div>
    </form>




      <div class="ui middle aligned divided list">
        <div class="item" *ngFor="let coupon of Coupons">
          <div class="ui big horizontal divided list">
            <div class="item">
              <div class="content">
                <div class="header"> {{coupon.title}}</div>
              </div>
            </div>
            <!--begin-->
            <div class="item">
              <div class="content">
                <div class="header"> {{coupon.message}}</div>
              </div>
            </div>
            <!-- end -->
                <!--begin-->
                <div class="item">
                    <div class="content">
                      <div class="header"> {{coupon.startDate}}</div>
                    </div>
                  </div>
                  <!-- end -->
            <!--begin-->
            <div class="item">
              <div class="content">
                <div class="header"> {{coupon.endDate}}</div>
              </div>
            </div>
            <!-- end -->
            <!--begin-->
            <div class="item">
              <div class="content">
                <div class="header"> {{coupon.amount}}</div>
              </div>
            </div>
            <!-- end -->
            <!--begin-->
            <div class="item">
              <div class="content">
                <div class="header"> {{coupon.price}}</div>
              </div>
            </div>
            <!-- end -->
            <!--begin-->
            <div class="item">
              <div class="content">
                <div class="header"> {{coupon.type}}</div>
              </div>
            </div>
            <!-- end -->
      
          </div>
        </div>
      </div>
