
<div class="navbar">
  <a routerLink="Customer/PurchasedCoupons" routerLinkActive='active'>Purchased Coupons</a>
  <a routerLink="Customer/getByType" routerLinkActive='active' >get Purchased By Type</a>
  <a routerLink="Customer/getByPrice" routerLinkActive='active' >get Purchased By Price</a>
  <!-- <a routerLink="Customer/getByEndDate" routerLinkActive='active'>get By End Date</a> -->
  <a routerLink="Customer/purchaseCoupon" routerLinkActive='active'>purchase Coupon</a>
  <a href="#" class="right" (click)="logOut($event)">log Out</a>
</div>