/* .side {
    -ms-flex: 30%; 
     flex: 30%;
    background-color: #f1f1f1;
    padding: 20px;
} */

/* Main column */
/* .main {   
    -ms-flex: 70%;
    flex: 70%;
    background-color: white;
    padding: 20px;
} */